name: mapreduce

services:
  coordinator:
    build: .
    container_name: coordinator
    environment:
      STR_URL: ${STR_URL:-https://mattmahoney.net/dc/enwik8.zip}
      NUM_WORKERS: ${NUM_WORKERS:-4}
    command: bash -c "
        sleep 5 &&
        python3 -u coordinator/coordinator.py ${STR_URL} ${NUM_WORKERS}
      "
    volumes:
      - .:/app:rw
    networks:
      - mapreduce-net
    depends_on:
      - worker

  worker:
    build: .
    command: bash -c "python3 -u workers/worker.py"
    volumes:
      - .:/app:ro
    networks:
      - mapreduce-net

networks:
  mapreduce-net:
    driver: bridge